.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.cart-item-image {
    margin-top: 5px;
    margin-right: 25px;
    width: 25%;
}

.cart-item-name {
    margin-block-start: 0;
}

.cart-line-item {
    display: flex;
}

.cart-breakdown {
    border: 1px solid white;
    width: 66%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;;
}

.cart-breakdown h2 {
    text-align: center;
}

.cart-item-container {
    width: 50%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    
}

.cart-empty {
    text-align: center;
    font-size: 1.5em;
}

.keep-shopping {
    text-decoration: none;
    font-size: 1.5em;
    background-color: white;
    color: black;
    margin: auto;
    width: 150px;
    height: 66px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    transition: 500ms;
}

.keep-shopping:hover {
    width: 175px;
    height: 66px;
    font-size: 1.45em;
}

.cart-item-des {
    font-size: 1em;
}

.suggested {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 85%;
    margin-inline: 15px;
    height: fit-content;
}

.suggested h2 {
    text-align: center;
}

.suggested img {
    width: 66%;
}

.suggested .products {
    border: none;
    margin: auto;
    width: 100%;
}

.cart-breakdown li {
    list-style: none;
}

.cart-total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
}

#thank-you {
    margin-block: 15px;
}

.thank-you-message {
    margin-inline: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .cart-breakdown {
        order: 0;
        width: 100%;
    }

    .cart-line-item {
        margin-bottom: 15px;
    }

    .cart-total-container {
        margin-inline: 15px;
        width: 85%;
    }

    .cart-item-container {
        margin-right: 15px;

    }

    .suggested {
        order: 1;
        width: 100%;
    }

    .suggested img {
        width: 85%;
    }

    .cart-item-image {
        width: 50%;
    }
}