.item-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.item-des-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

h1 {
    text-align: center;
}

.item-options-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.item-price-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}