.item-page {
    display: flex;
    flex-direction: column;
    width: 66%;
    border: 1px solid white;
    margin-bottom: 15px;
}

.item-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.item-image {
    margin-left: 25px;
}

.item-des-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-inline: 5%;
}

h1 {
    text-align: center;
}

.item-options-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.item-price-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

@media only screen and (max-width: 950px) {
        .item-page {
            width: 100%;
        }

        .item-container {
            flex-direction: column;
            width: 90%;
            margin: auto;
        }

        .item-image {
            margin: auto;
        }

        .item-des-container {
            width: 85%;
            margin: auto;

        }

        .item-options-container {
            width: 66%;

        }

}